html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

*:hover {
	  transition:.5s;
}

a {
	text-decoration: none;
}

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Montserrat, Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 20px solid #e44d26;
}

.footer-container,
.main aside {
    border-top: 20px solid #e44d26;
}

.header-container,
.footer-container,
.main aside {
    background: #f16529;
}

.title {
    color: white;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #e44d26;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.wrapper .branding h1 {
	text-align: center;
	margin: 80px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}


.form, .form_register {
	width: 500px;
	margin: 0 auto;
	-vendor-animation-duration: 3s;
  -vendor-animation-delay: 2s;
}

input {
	display: block;
	font-family: Montserrat, sans-serif;
	margin-bottom: 20px;
	width: 100%;
}

input#username {
	background: url(../images/usernamebg.png) no-repeat 10px center #fff;
	padding: 20px 0;
	padding-left: 100px;
	width: 400px;
	border: none;
}

input#password {
	background: url(../images/passwordbg.png) no-repeat 10px center #fff;
	padding: 20px 0;
	padding-left: 100px;
	width: 400px;
	border: none;
}

input#email {
	background: url(../images/emailbg.png) no-repeat 10px center #fff;
	padding: 20px 0;
	padding-left: 100px;
	width: 400px;
	border: none;
}

input#name {
	background: url(../images/namebackground.png) no-repeat 10px center #fff;
	padding: 20px 0;
	padding-left: 100px;
	width: 400px;
	border: none;
}

input#pencil {
	background: url(../images/pencilbg.png) no-repeat 10px center #fff;
	padding: 20px 0;
	padding-left: 100px;
	width: 400px;
	border: none;
}

input#login {
	padding: 20px;
	border: none;
	background: #273C45;
	color: #fff;
	margin-top: 25px;
}

input#login:hover {
	background: #141F23;
}


.branding {
	margin: 70px auto;
	width: 500px;
	text-align: center;
	}


.panel {
	background: #f0f0f0 url(../images/bg.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	padding: 120px 0;
	margin-bottom: 30px;
	
}

.panel h1 {
	font-family: Open Sans, sans-serif;
	font-weight: 300;
	fontsize: 35px;
	text-align: center;
	color: #fff;
}

input#login_b, 
input#register_b {
	width: 180px;
	padding: 20px 15px;
	border: none;
	margin: 0 auto;
	display: inline;
	margin-right: 10px;
	background: #273C45;
	color: #fff;
}

input#login_b:hover {
	background: #141F23;
}

input#register_b {
	background:#436978;
}

input#register_b:hover {
	background: #4D798A;
}

.panel_form {
	margin: 0 auto;
	width: 390px;
	margin-top: 50px;
}

.wrapper h2 {
	text-align: center;
	font-size: 21px;
	margin: 35px;
}

.wrapper p {
	width: 600px;
	font-family: Open Sans, sans-serif;
	font-size: 17px;
	margin: 0 auto;
	line-height: 200%;
	color: #333;
	padding-bottom: 30px;
}

footer {
	background: #eaeaea;
	margin-top: 30px;
}

.copyright {
	width: 500px;
	margin: 0 auto;
	padding: 40px 10px;
	text-align: center;
}

h2.about {
	background:url(../images/abouticon.png) no-repeat left;
	width: 270px;
	margin: 0 auto 20px auto;
	padding: 20px 0;
}

h2.features {
	background:url(../images/featuresicon.png) no-repeat 40px 15px;
	width: 270px;
	margin: 0 auto 20px auto;
	padding: 20px 0;
}

.sep {
	border-bottom:1px solid #eaeaea;
	width: 470px;
	height: 1px;
	margin: 30px auto;
}

.profile {
	margin: 0 auto;
	width: 900px;
	font-family: Open Sans, sans-serif;
}

.profilewrap {
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	padding: 35px;
	background:  #2C3643;
	color: #fff;
}

.bold {
	font-family: Montserrat, sans-serif;
	text-transform: uppercase;
	font-size: 13px;
}

.name, .dob, .phone{
	margin-right: 30px;
}

.name {
	background: url(../images/usersmallw.png) no-repeat left;
	padding-left: 24px;
}

.dob {
	background: url(../images/papersmallw.png) no-repeat left;
	padding-left: 24px;
}

.phone {
	background: url(../images/booksmall.png) no-repeat left;
	padding-left: 24px;
}

#logout {
	display: inline;
	width: 100px;
	background: none;
	border: 1px solid #ccc;
	border-radius: 20px;
	padding: 10px;
	margin-bottom: 0;
	color: #fff;
}

#history, #report {
	display: inline;
	width: 140px;
	text-align: center;
	background: none;
	border: 1px solid #607691;
	border-radius: 20px;
	padding: 10px;
	margin-bottom: 0;
	color: #fff;
	background: #607691;
	margin-right: 10px;
}

#report {
    width: 130px;
}

#history:hover, #report:hover {
	border: 1px solid #4A5B71;
	background: #4A5B71;
}

#logout:hover {
	border: 1px solid #777;
}

#datawrap {
	width: 700px;
	margin: 30px auto;
	overflow: hidden;
	padding: 60px;
}

.data {
	float:left;
	margin-right:35px;
}

.tremor-data, .duration-data {
	font-size: 50px;
	text-align: center;
	display: block;
	margin-bottom: 25px;
	
}

.back {

	text-align: center;
}

.back a {
	color: #fff;
	text-decoration: none;
}
#graph {
	background:url(../images/testbg.jpg) no-repeat center;
	background-size: cover;
	height:400px;
}

.notification {
  border-radius: 4px;
  color: #ffffff;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  width: 76%;
}
.notification p {
  margin: 5px 50px;
}
.notification i {
    font-size: 32px;
    left: 0;
    line-height: 48px;
    margin: 3px 16px;
    position: absolute;
    top: 0;
}
.notification span {
  background-clip: padding-box;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: -1px 0 0 0 rgba(0, 0, 0, 0.1);
  font-size: 20px;
  height: 100%;
  line-height: 48px;
  padding: 0 16px;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-background-clip: padding-box;
}
.notification span:hover {
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.notification-success {
  background: #0099D2;
}

.secret-block {
    display: table;
    margin: auto;
    border: none;
    text-align: center;
}

.secret-title {
    font-size: 20px;
    font-weight: 300;
    margin-top: 20px;
}

.secret {
	margin: 10px auto 0px;
	width: 170px;
	background: none;
	border: 1px solid #ccc;
	border-radius: 20px;
	padding: 10px;
    display: inline;
}

.secret.text{
    width: 190px;
}

.secret:hover {
	border: 1px solid #333;
}

#chart, #chart-magnitude, #chart-frequency {
	padding-top: 40px;
	margin: 0 auto;
	width: 80%;
	padding-bottom: 40px;
}


.highcharts-title {
	font-size: 25px !important;
	font-family: Montserrat;
	letter-spacing: -1px;
}
/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */















/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for ../images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}